* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    height: 100%
}
.selected-color {
  color: rgba(133, 220, 217, 1.0);
}
body {
  /*font-family: Lato, sans-serif;*/
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: Raleway, sans-serif;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
}
h2,
h3 {
  font-weight: 600;
}
h2 {
  font-size: 32px;
  line-height: 56px;
  margin-bottom: 48px;
  text-align: center;
}
p {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
  line-height: 26px;
}
ul {
  list-style-type: disc;
  margin-left: 1em;
}
li {
  margin-bottom: .25em;
}
header {
  padding: 1em;
  position: relative;
  background-color: black;
  text-align: center;
}
nav {
  margin: 1.5em 0;
}
nav a {
  display: block;
  font-size: 1.25em;
  margin: 1em 0;
}
.header-title {
  text-align: center;
}
.header-title a {
  font-size: 2.5em;
}
nav .button {
  border: none;
  padding: none;
}
nav a,
.button {
  font-weight: bold;
}
nav a {
  margin: 0 1.5em;
  font-weight: 300;
}
a {
  color: rgba(133, 220, 217, 1.0);
  text-decoration: none;
  transition: color 0.3s ease;
}
header a:hover {
  color: rgba(133, 220, 217, 1.0);
}
.app {
  padding: 10em 0em;
  background-size: cover;
}
.section {
  text-align: center;
  clear: both;
}
header a,
.name,
.description,
.header-title {
  text-transform: uppercase;
  color: white;
}
.button {
  font-weight: 300;
  color: white;
  border: 2px solid white;
  padding: .5em 1em;
  width: 185px;
  transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}
.button:hover {
  background-color: rgba(133, 220, 217, 1.0);
  border: 2px solid rgba(133, 220, 217, 1.0);
}
.view {
  display: inline-block;
  margin-top: 2em;
  color: white;
}
.name,
.first {
  font-weight: bold;
}
.last {
  font-weight: 300;
  margin-left: -0.1em;
}
.description {
  font-weight: 300;
}
.main-image {
  padding: 0;
}
.main-image img {
  width: 100%;
}
.details p {
  margin-bottom: 0.5em;
}
.blurb {
  text-align: left;
  padding: 2em 2em 3em 2em;
}
.blurb p {
  margin: 1em 0;
}
.blurb img {
  display: block;
  width: 100%;
  margin: -2px 0;
}
.blurb ul {
  margin: 1em 0 1em 1em;
}
.blurb .title {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2em;
}
.blurb .title > span {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.blurb.main-description .title > span {
  font-size: 1.5em;
}
.details p {
  margin-top: 0em;
}
.blurb .title > span:before,
.blurb .title > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: rgba(0, 0, 0, 0.06);
}
.blurb .title > span:before {
  right: 100%;
  margin-right: 30px;
}
.blurb .title > span:after {
  left: 100%;
  margin-left: 30px;
}
.blurb .project {
  margin: .5em;
}
.about {
  padding: 2em;
}
.about p {
  font-weight: 100;
}
.image img {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.dot {
  font-weight: 600;
}
.row,
.more-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
}
.project p {
  color: white;
}
.project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.project img[class] {
  width: 150px;
}
.project .project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project.require-hover:hover .project-info {
  display: flex;
}
.project-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.blurb .project-info h1 {
  font-size: 1.3em;
  font-weight: 500;
}
.hero-color-wrapper,
.hero .project-info {
  background-color: rgba(0, 120, 120, 0.75);
}
.home-harvest .project-info {
  background-color: rgba(50, 150, 120, 0.75);
}
.area-51 .project-info {
  background-color: rgba(220, 100, 90, 0.75);
}
.lowebot .project-info {
  background-color: rgba(40, 74, 141, 0.75);
}
.quiz-quarrel .project-info {
  background-color: rgba(92, 92, 92, 0.75);
}
.re-ally .project-info {
  background-color: rgba(37, 54, 71, 0.75);
}
.text h5 {
  margin-bottom: .5em;
}
body.contact-page {
    background-image: url('../images/background-main.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.contact h5,
.contact span,
.contact label {
  color: white;
}
.contact {
  padding-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.contact .container {
  flex-grow: 1;
  width: 50%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.25);
}
.contact .text {
  padding: 2.5em;
}
.contact h5 {
  margin-bottom: 1em;
}
.about .value,
.contact .value {
  text-transform: uppercase;
  margin: 1.5em 0;
  font-weight: 100;
}
.contact .icons {
  margin-top: .5em;
  font-size: 2em;
}

.image-row {
  display: flex;
}
.image-row  img {
  width: 100%;
  max-width: 100%;
}
.image-item {
  flex: 1;
  width: 50%;
  padding: 0.5em;
}
.image-item-2 {
  flex: 1;
  width: 65%;
  padding: 0.5em;
}
ul.slick-dots {
  bottom: inherit;
  margin: 1em 0;
}
.nav-image img {
  display: block;
  margin: 0 auto;
  width: 185px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
img.no-border {
  border: none;
}
.main-carousel .main-image img {
  margin: 1.5em auto;
}
.nav-carousel {
  width: 100%;
  margin: 0 auto;
}
.nav-carousel-wrapper,
.main-carousel-wrapper {
  width: 100%;
  position: relative;
}
.nav-carousel-wrapper {
  display: none;
}
.carousel-arrow.prev,
.main-carousel-arrow.prev {
  left: 0;
}
.carousel-arrow.next,
.main-carousel-arrow.next {
  right: 0;
}
.carousel-arrow,
.main-carousel-arrow {
  display: block;
  position: absolute;
  width: 66px;
  height: 145px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 10;
  text-align: center;
}
.carousel-arrow .fa,
.main-carousel-arrow .fa {
  margin-top: 65px;
}
.main-carousel-arrow {
  top: 280px;
}
.main-carousel-arrow.lowebot-arrow {
  top: 50%;
  transform: translateY(-50%);
}
.main-carousel {
  margin-top: 2em;
}
.hero-color-wrapper {
  height: 100%;
}
body.contact-page,
body.about-page {
  height: 100%;
}
iframe {
  display: block;
  margin: 0 auto;
}
@media (min-width: 40em) {
  body.about-page {
      background-image: url('../images/background-main.jpg');
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 4.5em;
    clear: both;
    z-index: 100;
  }
  header {
    padding: 0;
  }
  nav {
    margin-top: 1em;
  }
  .header-title {
    margin-top: 1.6em;
  }
  .header-title {
    float: left;
    margin-left: 1em;
  }
  .header-title a {
    font-size: 1em;
  }
  nav {
    float: right;
    margin-right: 1em;
  }
  nav a {
    font-size: 1em;
    display: inline-block;
  }
  .contact-button {
    font-weight: 300;
    color: white;
    border: 2px solid white;
    padding: .5em 1em;
    transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  }
  .contact-button:hover {
    color: white;
    background-color: rgba(133, 220, 217, 1.0);
    border: 2px solid rgba(133, 220, 217, 1.0);
  }
  .row,
  .more-work {
    flex-direction: row;
  }
  .project.small {
    width: 50%;
  }
  .project h1 {
    font-size: 32px;
  }
  .project.require-hover .project-info {
    display: none;
  }
  .re-ally .project-info,
  .home-harvest .project-info,
  .area-51 .project-info,
  .lowebot .project-info,
  .quiz-quarrel .project-info {
    background-color: inherit;
  }
  .hero:hover .project-info {
    background-color: rgba(0, 120, 120, 0.75);
  }
  .home-harvest:hover .project-info {
    background-color: rgba(50, 150, 120, 0.75);
  }
  .area-51:hover .project-info {
    background-color: rgba(220, 100, 90, 0.75);
  }
  .lowebot:hover .project-info {
    background-color: rgba(40, 74, 141, 0.75);
  }
  .quiz-quarrel:hover .project-info {
    background-color: rgba(137, 103, 92, 0.75);
  }
  .re-ally:hover .project-info {
    background-color: rgba(37, 54, 71, 0.75);
  }
  .about {
    padding-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .about .container {
    flex-grow: 1;
    width: 50%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .about .text {
    padding: 2.5em;
  }
  .about.contact .container {
    max-width: 500px;
  }
  .contact {
    padding-top: 8em;
  }
  .about .image {
    flex-grow: 1;
  }
  .about label,
  .about span,
  .about p,
  .about h5 {
    color: white;
  }
  .main-carousel.lowebot-carousel .main-image img {
    padding: 0 12em;
  }
}
@media (min-width: 50em) {
  .project h1 {
    font-size: 36px;
  }
  .nav-carousel-wrapper {
    display: block;
  }
}
@media (min-width: 60em) {
  .app {
     padding: 16.2em 0;
  }
  .main-description .challenge {
    width: 80%;
  }
  .main-description .details {
    width: 20%;
  }
  .main-description .details,
  .main-description .challenge {
    float: left;
    text-align: left;
  }
  .blurb {
    padding: 2em 5em 3em 5em;
  }
}

@media (min-width: 60em) {
  .main-carousel .main-image img {
    padding: 0 8em;
  }

  .main-carousel.lowebot-carousel .main-image img {
    padding: 0 16em;
  }
}

@media (min-width: 80em) {
  .main-carousel .main-image img {
    padding: 0 10em;
  }

  .main-carousel.lowebot-carousel .main-image img {
    padding: 0 22em;
  }
}

@media (min-width: 100em) {
  .main-carousel .main-image img {
    padding: 0 16em;
  }

  .main-carousel.lowebot-carousel .main-image img {
    padding: 0 24em;
  }
}
