* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body.about-page {
    background-image: url('../images/background-main.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
html {
    height: 100%
}
.selected-color {
  color: rgba(133, 220, 217, 1.0);
}
body {
  /*font-family: Lato, sans-serif;*/
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: Raleway, sans-serif;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
}
h2,
h3 {
  font-weight: 600;
}
h2 {
  font-size: 32px;
  line-height: 56px;
  margin-bottom: 48px;
  text-align: center;
}
p {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
  line-height: 26px;
}
ul {
  list-style-type: disc;
  margin-left: 1em;
}
li {
  margin-bottom: .25em;
}

/*
TODO: move this header style down to the media queries for desktop. Replace default styles to be mobile styles that just
stack each menu item on top of each other, do not make them fixed in position.
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 4.5em;
  clear: both;
  z-index: 100;
}
nav,
.header-title {
  margin-top: 1.6em;
}
.header-title {
  float: left;
  margin-left: 1em;
}
nav {
  float: right;
  margin-right: 1em;
}
nav a,
.button {
  font-weight: bold;
}
nav a {
  margin: 0 1.5em;
  font-weight: 300;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: rgba(133, 220, 217, 1.0);
}
.hero,
.app {
  padding: 10em 0em;
  background-size: cover;
}
.section {
  text-align: center;
  clear: both;
}
.hero {
  background-image: url('../images/background-main.jpg');
  background-position: bottom;
}
a,
.name,
.description,
.header-title {
  text-transform: uppercase;
  color: white;
}
.button {
  font-weight: 300;
  color: white;
  border: 2px solid white;
  padding: .5em 1em;
  width: 185px;
  transition: color 0.3s ease, border 0.3s ease;
}
.button:hover {
  color: rgba(133, 220, 217, 1.0);
  border: 2px solid rgba(133, 220, 217, 1.0);
}
.view {
  display: inline-block;
  margin-top: 2em;
  color: white;
}
.name,
.first {
  font-weight: bold;
}
.last {
  font-weight: 300;
  margin-left: -0.1em;
}
.description {
  font-weight: 300;
}
.main-image {
  padding: 0;
}
.main-image img {
  width: 100%;
}
.details p {
  margin-bottom: 0.5em;
}
.blurb {
  text-align: left;
  padding: 2em 2em 3em 2em;
}
.blurb p {
  margin: 1em 0;
}
.blurb a,
.blurb a:visited {
  color: rgba(133, 220, 217, 1.0);
  text-decoration: underline;
}
.blurb img {
  display: block;
  width: 100%;
  margin: -2px 0;
}
.blurb ul {
  margin: 1em 0 1em 1em;
}
.blurb .title {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 2em;
}
.blurb .title > span {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.blurb.main-description .title > span {
  font-size: 1.5em;
}
.details p {
  margin-top: 0em;
}
.blurb .title > span:before,
.blurb .title > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: rgba(0, 0, 0, 0.06);
}
.blurb .title > span:before {
  right: 100%;
  margin-right: 30px;
}
.blurb .title > span:after {
  left: 100%;
  margin-left: 30px;
}
.about {
  padding-top: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.about .container {
  flex-grow: 1;
  width: 50%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.25);
}
.about .text {
  padding: 2.5em;
}
.about.contact .container {
  max-width: 500px;
}
.contact h5 {
  margin-bottom: 1em;
}
.contact .value {
  text-transform: uppercase;
  margin: 1.5em 0;
  font-weight: 100;
}
.contact .icons {
  margin-top: .5em;
  font-size: 2em;
}
.text h5 {
  margin-bottom: .5em;
}
.about .image {
  flex-grow: 1;
}
.about label {
  margin-right: .5em;
  font-weight: bold;
}
.about label,
.about span,
.about p,
.about h5 {
  color: white;
}
.image img {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.dot {
  font-weight: 600;
}
.row,
.more-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.more-work a {
  width: 100%;
}
.project {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
}
.project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.project img[class] {
  width: 150px;
}
.project .project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project:hover .project-info {
  display: flex;
}
.project-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.home-harvest .project-info {
  background-color: rgba(50, 150, 120, 0.75);
}
.area-51 .project-info {
  background-color: rgba(220, 100, 90, 0.75);
}
.lowebot .project-info {
  background-color: rgba(40, 74, 141, 0.75);
}
.quiz-quarrel .project-info {
  background-color: rgba(92, 92, 92, 0.75);
}
.more-work a {
  display: inline-block;
  margin: auto .5em;
}
@media (min-width: 40em) {
  .row,
  .more-work {
    flex-direction: row;
  }
  .more-work a {
    width: 33.333%;
  }
  .project {
    width: 50%;
  }
  .project h1 {
    font-size: 32px;
  }
  .project .project-info {
    display: none;
  }

  .home-harvest .project-info,
  .area-51 .project-info,
  .lowebot .project-info,
  .quiz-quarrel .project-info {
    background-color: inherit;
  }

  .home-harvest:hover .project-info {
    background-color: rgba(50, 150, 120, 0.75);
  }
  .area-51:hover .project-info {
    background-color: rgba(220, 100, 90, 0.75);
  }
  .lowebot:hover .project-info {
    background-color: rgba(40, 74, 141, 0.75);
  }
  .quiz-quarrel:hover .project-info {
    background-color: rgba(137, 103, 92, 0.75);
  }
}
@media (min-width: 50em) {
  .project h1 {
    font-size: 36px;
  }
}
@media (min-width: 60em) {
  .hero,
  .app {
     padding: 16.2em 0;
  }
  .main-description .challenge {
    width: 80%;
  }
  .main-description .details {
    width: 20%;
  }
  .main-description .details,
  .main-description .challenge {
    float: left;
    text-align: left;
  }
  .blurb {
    padding: 2em 5em 3em 5em;
  }
}
